<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" /
    <meta name="description" content="" />
    <title>{% block title %}Untitled{% endblock %} - WebSCard</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/ajaxtabs.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1>WebSCard</h1>
      <p>A smartcard WSGI proxy</p>
    </header>
    <!-- stuff about freshness of current session -->
    {% if request.new_session %}
    <div class=notification>You just got a new session, Welcome !</div>
    {% endif %}
    <div>Your current session has uid {{ request.session.uid }}. You
      can browse its <a href="/log/{{ request.session.uid }}">logs</a></div>
    {% for context in request.session.contexts %}
      {{ context.uid }}
    {% else %}
      <p>This session has opened no contexts.</p>
    {% endfor %}
    {% block body %}<p>Nothing to declare</p>{%endblock%}
    <aside>
      <header> Suggestions </header>
      <nav>
        <ul>
          {% for link, title in suggestions %}
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
	</ul>
      </nav>
    </aside>
    <footer />
  </body>
</html>
