<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" /
    <meta name="description" content="" />
    <title>{% block title %}Untitled{% endblock %} - WebSCard</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/ajaxtabs.css" rel="stylesheet" type="text/css" />
  </head>
  <body>{% block body %}Nothing to declare{%endblock%}</body>
</html>
