{%extends "operation.html" %}
{%block title %}ListReaders{% endblock %}
{%block code %}
<div class="code">
  <pre>
SCardListReaders()
  </pre>
</div>
{% endblock code %}
{% block output %}
The readers are
<ul>
{% for reader in mszReaders %}
  <li>{{ reader }}</li>
{% endfor %}
</ul>
{% endblock output %}
{% block suggestions %}
{% for reader in mszReaders %}
<li><a href=#{# "{{ url_for('connect', context=request.context, szReader=reader) }}" #}>Connect to {{ reader }} -- BROKEN</a></li>
{% endfor %}
{% endblock %}