{% extends "layout.html" %}
{% block title %}Session List{% endblock %}
{% block body %}
<div>
  <ul>
  {% for session in pagination.entries %}
  {% if loop.first %}
  {% endif %}
  <li class="session">
    <h2>{{ session.firstactivity }}</h2>
    <p>Owner: {{ session.remote_addr }} ( {{ session.user_agent }} )</p>
    {% if session.contexts %}
      <p>There is activity on this session.</p>
    {% else %}
      <p>This session did not opened any contexts</p>
    {% endif %}
    <a href="{{ url_for('logforsession', sid=session.uid) }}">Session logs</a>
  </li>
  {% endfor %}
  </ul>
  <div class="pagination">
    {%- if pagination.has_previous %}<a href="{{ pagination.previous
        }}">&laquo; Previous</a>
    {%- else %}<span class="inactive">&laquo; Previous</span>{% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}<a href="{{ pagination.next }}">Next &raquo;</a>
    {%- else %}<span class="inactive">Next &raquo;</span>{% endif %}
  </div>
</div>
{% endblock %}
