{%extends "operation.html" %}
{%block title %}Status{% endblock %}
{%block code %}
<div class="code">
  <pre>
SCardStatus(
{%- for value in request.values %}
    {{ value }} = {{ request.values[value] }},
{%- endfor %}
)
  </pre>
</div>
{% endblock %}
{% block output %}
{{ szReaderName }}, {{ dwState }}, {{ dwProtocol }}, {{ATR}}
{% endblock %}
{% block suggestions %}
<li><a href="{{ url_for('begintransaction', card=request.card) }}">Begin a Transaction</a></li>
{% endblock %}
